<!DOCTYPE html>
<h2>Список парикмахеров</h2>
<% @barbers_list.each do |barber| %>
<p>
	<% clients = Client.where("barber = ?", [barber.name]) %>
	<a href="/barbers/<%=barber.id%>"><%= barber.name%> (<%= clients.length%>)</a>
</p>
<%end %>
